* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{

    --bg-color:rgb(247, 248, 250);
    --text-color:rgb(0, 0, 0);
    --focused-color:rgb(235, 236, 240);
    --active-text-color:rgb(0, 0, 0)
   /* #191A1C#D1D3D9*/
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: var(--bg-color,#191A1C);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", serif;
    padding: 5px;
    user-select: none;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    height: 32px;
    padding: 0 5px;
    margin-bottom: 5px;
}
.size-info{
    color: var(--text-color,#ffffff);
    font-size: 14px;
}
.svgo-btn-group{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.svgo-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    background: inherit;
    border: 0;
    outline: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    font-size: 13px;
    color: var(--text-color);
    margin: 0 4px;
}

.svgo-btn.active {
    transition: .3s;
    color: var(--active-text-color);
    background: var(--focused-color);
    border-radius: 6px;
    text-decoration: none;
}

.svgo-setting.active {
    color: rgb(253, 186, 116);
    background: rgba(249, 115, 22, .1);
}

.svgo-btn:hover {
    transition: .3s;
    color: var(--text-color,#FFF);
    background: var(--focused-color);
    border-radius: 6px;
    text-decoration: none;
}
.svgo-start{
    background-color: inherit;
    border: none;
    border-radius: 6px;
    color: var(--text-color,#FFF);
    font-weight: 500;
    padding: 5px 10px;
}
.svgo-start:hover {
    transition: .3s;
    color: var(--text-color,#FFF);
    background: var(--focused-color);
    border-radius: 6px;
    text-decoration: none;
}
.svgo-start >.prettified{
    display: none;
}

.svgo-start >.prettify{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.svgo-start.active>.prettify{
    display: none
}

.svgo-start.active>.prettified{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.container {
    height: calc(100vh - 74px);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.viewer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.viewer > svg {
    width: 100%;
    height: 100%;
    position: relative;
}

.chess{
    --size: 8px;
    --c1: #C0C0C0; /* 有背景的格子 */
    --c2: #ffffff; /* 无背景的格子 */

    background: linear-gradient(45deg, var(--c1) 25%, transparent 25%) 0 0 / calc(var(--size) * 2) calc(var(--size) * 2),
    linear-gradient(45deg, var(--c1) 25%, transparent 25%) var(--size) var(--size) / calc(var(--size) * 2) calc(var(--size) * 2),
    linear-gradient(45deg, transparent 75%, var(--c1) 75%) 0 0 / calc(var(--size) * 2) calc(var(--size) * 2),
    linear-gradient(45deg, transparent 75%, var(--c1) 75%) var(--size) var(--size) / calc(var(--size) * 2) calc(var(--size) * 2);

    background-color: var(--c2);
}

.grid:after {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    --size: 32px;
    --line: #fff;

    background-image:
            linear-gradient(to right, var(--line) 1px, transparent 1px),
            linear-gradient(to bottom, var(--line) 1px, transparent 1px);
    background-size: var(--size) var(--size);
    pointer-events: none;
}

.svgo-setting.active + .svgo-list-anchor {
    display: flex;
}

.svgo-list-anchor {
    display: none;
    color: var(--text-color,#FFF);
    font-size: 13px;
}

.svgo-list {
    cursor: default;
    gap: 10px;
    max-height: 70vh;
    position: absolute;
    top: 55px;
    width: 90%;
    z-index: 4;
    left: 5%;
    background: var(--bg-color,#2e3138);
    border: 1px solid  var(--bg-color,#454a54);
    border-radius: 6px;
    padding: 24px;
    box-shadow: 0 5px 30px rgba(44, 54, 59, .1);
    color-scheme: dark;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.svgo-list-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    cursor: pointer;
}

.toggle-button_checkbox {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    cursor: pointer
}

.toggle-button_checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background-color: transparent;
    border: 2px solid #566b76;
    transition: background-color .4s ease, border-color .4s ease;
}

.toggle-button_input[type=checkbox]:checked + .toggle-button_checkmark {
    background-color: #f97316;
    border-color: #f97316;
}

.toggle-button_input[type=checkbox]:checked + .toggle-button_checkmark:after {
    opacity: 1;
}

.toggle-button_checkmark:after {
    content: "✓";
    font-size: 13px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    opacity: 0;
    transition: opacity .4s ease;
}

.toggle-button_input {
    opacity: 0;
    width: 100%;
    height: 100%;
}